@import url('https://fonts.googleapis.com/css?family=Nunito+Sans&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Nunito Sans', sans-serif;
}

a {
  text-decoration: none;
}

button:hover {
  cursor: pointer;
}

.percentage {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
}

.loading-line {
  width: 0px;
  height: 1px;
  border: 0.5px solid rgba(0, 0, 0, 0.075);
  display: block;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  z-index: 1;
}

body {
  background-image: url('./images/portfolio/background.png');
  background-repeat: repeat;
  overflow-x: hidden;
  font-family: 'Lato', sans-serif;
}

.nav {
  position: fixed;
  top: 0;
  z-index: 1;
  margin: 0 auto;
  width: 100%;
  background-image: url('./images/portfolio/background.png');
  list-style: none;
  justify-content: center;
  font-size: 0.9em;
  border-bottom: 1px solid rgba(117, 117, 117, 0.096);
  display: none;
  padding: 1.2rem 0;
}

.nav-mobile {
  position: fixed;
  bottom: 0;
  z-index: 1;
  width: 100%;
  background-image: url('./images/portfolio/background.png');
  display: flex;
  list-style: none;
  justify-content: center;
  font-size: 0.8em;
  border-top: 1px solid rgba(117, 117, 117, 0.418);
  padding: 1rem;
}


.nav-link {
  color: #2d2d2d;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-decoration: none;
  font-weight: 300;
  padding: 0.5rem 0;
  margin: 0 1rem;
}

.nav-link:hover {
  cursor: pointer;
}

.me {
  text-align: center;
  font-weight: 300;
  color: #2d2d2d;
  max-width: 90%;
  margin: 5rem auto;
  margin-bottom: 15rem;
  margin-top: 10rem;
  line-height: 1.4em;
  font-size: 3em;
}

.developer {
  font-size: 0.6em;
}

.about-container {
  max-width: 250px;
  margin: 3rem auto;
}

.i-do {
  border-top: 1px solid rgba(0, 0, 0, 0.075);
  border-bottom: 1px solid rgba(0, 0, 0, 0.075);
  font-size: 2em;
  margin: 0;
  font-weight: 400;
  letter-spacing: 1.2px;
  padding-top: 2rem;
  padding-bottom: 2rem;
  text-align: center;
  color: #2d2d2d;
}

.work {
  margin-top: 10rem;
  text-align: center;
  margin-bottom: 8rem;
  color: #2d2d2d;
  font-weight: 300;
  letter-spacing: 2px;
  font-size: 3em;
}

.title {
  font-size: 1.5em;
  margin-top: 10px;
  font-weight: 300;
  letter-spacing: 2px;
}

.text {
  color: #2d2d2d;
  font-size: 0.9em;
  letter-spacing: 1px;
  margin-top: 1rem;
}

.app-container {
  text-align: center;
  padding-bottom: 14rem;
}

.app-container img {
  margin-left: 2rem;
  width: 90%;
  margin: 0 auto;
}

.app-title {
  font-weight: 600;
  letter-spacing: 1.3px;
  text-transform: uppercase;
  font-size: 1.3rem;
  margin-top: 1.5rem;
  color: #2d2d2d;
}

.app-text {
  margin: 0 auto;
  margin-bottom: 2rem;
  letter-spacing: 1px;
  color: #2d2d2d;
  max-width: 90%;
  font-size: 1em;
}

.button-text {
  letter-spacing: 1px;
  color: #2d2d2d;
  font-weight: 600;
  font-size: 1em;
}

.app-container button {
  background: transparent;
  border: 1px solid rgba(0, 0, 0, 0.281);
  padding: 1rem 3rem;
  color: #2d2d2d;
}

.app-container button:hover {
  border: 1px solid rgba(0, 0, 0, 0.247);
}

.contact-container {
  text-align: center;
  margin-top: 5rem;
  padding-top: 20rem;
  padding-bottom: 20rem;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.021);
}

.contact-title {
  font-size: 3em;
  font-weight: 300;
  letter-spacing: 2px;
  color: rgba(0, 0, 0, 0.904);
}

.horizontal-line {
  width: 100px;
  height: 1px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.100);
  display: block;
  margin: 0 auto;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.vertical-line {
  width: 0;
  height: 40px;
  border: 0.5px solid rgba(0, 0, 0, 0.100);
  display: block;
  margin: 0 auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.contact-email {
  font-weight: 300;
  margin-top: 1.3rem;
  color: rgba(0, 0, 0, 0.904);
  font-size: 1.4em;
}

.contact-in {
  color: black;
  text-decoration: none;
  font-size: 2em;
}

.contact-in:hover {
  color: black;
  text-decoration: none;
  border-bottom: 1px solid black;
}

.horizontal-line-small {
  margin: 1.5rem auto;
  width: 120px;
  border: 0.5px solid rgba(0, 0, 0, 0.075);
  display: block;
}

@media only screen and (min-width: 600px) {

  .me {
    margin-top: 13rem;
    font-size: 4em;
  }

  .app-container img {
    max-width: 600px;
  }

  .app-title {
    font-size: 1.25em;
  }
  
  .app-text {
    width: 450px;
    font-size: 1.1em;
  }

  .contact-title {
    font-size: 4em;
  }

  .contact-email {
    font-size: 1.6em;
  }

  .nav-mobile {
    display: none;
  }

  .nav {
    display: flex;
    font-size: 0.8em;
  }

  .nav-link {
    margin-left: 3.5rem;
    margin-right: 1.6rem;
  }

  .nav-link:hover {
    border-bottom: 1px solid rgba(0, 0, 0, 0.397);
    cursor: pointer;
    transition: ease 0.35s;
  }
  


}